.usenameAndRole {
    background-color: white;
    color: #3349a3;
    text-align: center
}
.userProfile {
    background-color: #3349a3;
    color: white;
    margin: 2rem 5rem 1rem 5rem;
    padding: 1rem;
    border-radius: 30px;
    text-align: center;
}

.userEateries {
    background-color: #ff65c4;
    color: white;
    margin: 2rem 4rem 1rem 4rem;
    padding: 1rem;
    border-radius: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.deleteUserButton{
    margin: 0 .5rem 0 .5rem;
    border: 0;
    background-color: rgb(211, 11, 11);
    color: white;
    padding: .5rem;
    border-radius: 20px;
    box-shadow: 2px 2px 2px grey;
    position: relative;
    left: 16rem;
}