.postNewEateryLink{
    margin-left: 10rem;
    position: relative;
    top: 2rem;
    padding: 1rem;
    color: white;
    background-color: rgb(83, 158, 83);
    border-radius: 30px;
    box-shadow: 4px 4px 4px grey;
}

.accountWelcomeMessage {
    padding-right: 2rem;
    color: rgb(72, 66, 66);
    font-size: 2rem;
    text-align: end;
}