@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}


:root {
	--mainColor: #eaeaea;
	--mainColorLight: #3349a3;
	--secondaryColor: #db2b39;
	--textColor: white;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 110px;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
}

.homeLogo {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

h1 {
	font-size: 3rem;
	padding-top: .5rem;
	padding-bottom: 0;
	background-color: var(--mainColor);
	color: var(--textColor);
}

/* h6 {
	margin: 0;
	padding: 0;
	text-align: center;
	position:relative;
	top: -1rem;
	left: 2rem;
	background-color: transparent;
} */

.searchBar {
	background-color: rgb(160, 160, 160);
	width: 80vw;
	border-radius: 30px;
	color: white;
	padding: .3rem;
	padding-left: 2rem;
	margin-left: 2rem;
}

.searchBar:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

nav a {
	margin: .5rem;
	padding-bottom: .5rem;
	color: var(--textColor);
	text-decoration: none;
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: 0;
		right: 0;
		width: 40%;
		padding-top: 5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		background-color: var(--mainColorLight);
		transition: 1s;
		transform: translateY(-100vh);
		border-radius: 0px 0px 0px 50px;
		z-index: 2;

	}

	header .responsive_nav {
		transform: none;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.3rem;
	}
}