.searchBar {
    border: none;
    background-color: transparent;
    text-align: left;
    height: 2rem;
    width: 70vw;
    color: white;
    padding-left: 0;
}

.searchBar::placeholder {
    color: white;
    opacity: 1;
  }
.searchBarContainer {
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 2.2rem;
    background-color: green;
    opacity: .5;
    margin-left: 2.7rem;
    border-radius: 10px;
}
.searchBarContainer img {
    padding: .4rem;
    height: 2rem;
    border-radius: 30px;
    position: absolute;
    left: 80vw;
}